<a href="https://colab.research.google.com/github/RDE0509/Pyspark-Practice/blob/main/expr%20and%20when%20clause%20in%20pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
! pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [65]:
! pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [129]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyspark
from pyspark.sql import Row
from pyspark.sql import HiveContext
from pyspark.sql.types import *

In [125]:
sc = pyspark.SparkContext()
sqlContext = HiveContext(sc)

ValueError: ignored

In [ ]:
spark = SparkSession.builder.appName('Test').getOrCreate()

In [93]:
df = spark.read.option('header',True).csv('/content/StatewiseTestingDetails.csv')

In [113]:
df.show()

+----------+--------------------+------------+--------+--------+
|      Date|               State|TotalSamples|Negative|Positive|
+----------+--------------------+------------+--------+--------+
|2020-04-17|Andaman and Nicob...|      1403.0|    1210|    12.0|
|2020-04-24|Andaman and Nicob...|      2679.0|    null|    27.0|
|2020-04-27|Andaman and Nicob...|      2848.0|    null|    33.0|
|2020-05-01|Andaman and Nicob...|      3754.0|    null|    33.0|
|2020-05-16|Andaman and Nicob...|      6677.0|    null|    33.0|
|2020-05-19|Andaman and Nicob...|      6965.0|    null|    33.0|
|2020-05-20|Andaman and Nicob...|      7082.0|    null|    33.0|
|2020-05-21|Andaman and Nicob...|      7167.0|    null|    33.0|
|2020-05-22|Andaman and Nicob...|      7263.0|    null|    33.0|
|2020-05-23|Andaman and Nicob...|      7327.0|    null|    33.0|
|2020-05-24|Andaman and Nicob...|      7327.0|    null|    33.0|
|2020-05-25|Andaman and Nicob...|      7363.0|    null|    33.0|
|2020-05-26|Andaman and Nicob...|      7448.0|    null|    33.0|
|2020-05-27|Andaman and Nicob...|      7499.0|    null|    33.0|
|2020-05-28|Andaman and Nicob...|      7519.0|    null|    33.0|
|2020-05-29|Andaman and Nicob...|      7567.0|    null|    33.0|
|2020-05-30|Andaman and Nicob...|      7567.0|    null|    33.0|
|2020-05-31|Andaman and Nicob...|      7706.0|    null|    33.0|
|2020-06-01|Andaman and Nicob...|      7805.0|    null|    33.0|
|2020-06-02|Andaman and Nicob...|      8086.0|    null|    33.0|
+----------+--------------------+------------+--------+--------+
only showing top 20 rows

In [117]:
df1 = df.select(col("*")).groupBy('State').count()

In [118]:
df1.show()

+--------------------+-----+
|               State|count|
+--------------------+-----+
|            Nagaland|  484|
|           Karnataka|  491|
|              Odisha|  492|
|              Kerala|  497|
|Dadra and Nagar H...|  170|
|              Ladakh|  294|
|          Tamil Nadu|  491|
|        Chhattisgarh|  482|
|      Andhra Pradesh|  488|
|         Lakshadweep|  195|
|      Madhya Pradesh|  492|
|              Punjab|  491|
|             Manipur|  406|
|                 Goa|  483|
|             Mizoram|  465|
|    Himachal Pradesh|  488|
|          Puducherry|  478|
|             Haryana|  492|
|   Jammu and Kashmir|  489|
|           Jharkhand|  484|
+--------------------+-----+
only showing top 20 rows

In [103]:
df1.where(col('State') == 'Delhi').show()

+-----+-----+
|State|count|
+-----+-----+
|Delhi|  489|
+-----+-----+

In [105]:
df1.filter(col('State') == 'Delhi').show()

+-----+-----+
|State|count|
+-----+-----+
|Delhi|  489|
+-----+-----+

In [108]:
df.count()

16336

In [107]:
df.dropDuplicates()

DataFrame[Date: string, State: string, TotalSamples: string, Negative: string, Positive: string]

In [109]:
df.count()

16336

In [111]:
df.na.drop()

DataFrame[Date: string, State: string, TotalSamples: string, Negative: string, Positive: string]

In [112]:
df.count()

16336

In [146]:
df1 = df.na.drop('any')

In [147]:
df1.count()

3558

In [136]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- State: string (nullable = true)
 |-- TotalSamples: string (nullable = true)
 |-- Negative: string (nullable = true)
 |-- Positive: string (nullable = true)

In [149]:
df1.show()

+----------+--------------------+------------+--------+--------+
|      Date|               State|TotalSamples|Negative|Positive|
+----------+--------------------+------------+--------+--------+
|2020-04-17|Andaman and Nicob...|      1403.0|    1210|    12.0|
|2020-04-02|      Andhra Pradesh|      1800.0|    1175|   132.0|
|2020-04-10|      Andhra Pradesh|      6374.0|    6009|   365.0|
|2020-04-11|      Andhra Pradesh|      6958.0|    6577|   381.0|
|2020-04-12|      Andhra Pradesh|      6958.0|    6553|   405.0|
|2020-04-13|      Andhra Pradesh|      8755.0|    8323|   432.0|
|2020-04-14|      Andhra Pradesh|     10505.0|   10032|   473.0|
|2020-04-15|      Andhra Pradesh|     11613.0|   11088|   525.0|
|2020-04-16|      Andhra Pradesh|     20235.0|   19701|   534.0|
|2020-04-18|      Andhra Pradesh|     21450.0|   20487|   603.0|
|2020-04-19|      Andhra Pradesh|     26958.0|   26311|   647.0|
|2020-04-20|      Andhra Pradesh|     30733.0|   30011|   722.0|
|2020-04-21|      Andhra Pradesh|     35755.0|   34998|   757.0|
|2020-04-22|      Andhra Pradesh|     41512.0|   40699|   813.0|
|2020-04-23|      Andhra Pradesh|     48032.0|   47139|   893.0|
|2020-04-24|      Andhra Pradesh|     54338.0|   53383|   955.0|
|2020-04-25|      Andhra Pradesh|     61266.0|   60250|  1016.0|
|2020-04-26|      Andhra Pradesh|     68034.0|   66937|  1097.0|
|2020-04-27|      Andhra Pradesh|     74551.0|   73374|  1177.0|
|2020-04-28|      Andhra Pradesh|     80334.0|   79075|  1259.0|
+----------+--------------------+------------+--------+--------+
only showing top 20 rows

In [153]:
df.dtypes

[('Date', 'string'),
 ('State', 'string'),
 ('TotalSamples', 'string'),
 ('Negative', 'string'),
 ('Positive', 'string')]

In [154]:
df.select(col('TotalSamples').cast('int').alias('TotalSamples'))

DataFrame[TotalSamples: int]

In [155]:
df.withColumn('TotalSamples',df.TotalSamples.cast('int'))

DataFrame[Date: string, State: string, TotalSamples: int, Negative: string, Positive: string]

In [156]:
df.dtypes

[('Date', 'string'),
 ('State', 'string'),
 ('TotalSamples', 'string'),
 ('Negative', 'string'),
 ('Positive', 'string')]

In [158]:
data = [("James","M",60000),("Michael","M",70000),
        ("Robert",None,400000),("Maria","F",500000),
        ("Jen","",None)]

columns = ["name","gender","salary"]
df3 = spark.createDataFrame(data = data, schema = columns)
df3.show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
|  James|     M| 60000|
|Michael|     M| 70000|
| Robert|  null|400000|
|  Maria|     F|500000|
|    Jen|      |  null|
+-------+------+------+

In [ ]:
df3.select(col('*'),when(df.gender == 'M','Male')
.when(df.gender == 'F','Female')
.when(df.gender =='','NA')
.when(df.gender.isNull(), "").otherwise(df.gender).alias('New Gender')).show()

+-------+------+------+----------+
|   name|gender|salary|New Gender|
+-------+------+------+----------+
|  James|     M| 60000|      Male|
|Michael|     M| 70000|      Male|
| Robert|  null|400000|          |
|  Maria|     F|500000|    Female|
|    Jen|      |  null|        NA|
+-------+------+------+----------+

In [ ]:
df3.select(col('*') , expr( "CASE WHEN gender = 'M' THEN 'MALE' " +
                      "WHEN gender = 'F' THEN 'FEMALE' WHEN gender IS NULL THEN''" + 
                      "ELSE gender END").alias('New_Gender')).show()

+-------+------+------+----------+
|   name|gender|salary|New_Gender|
+-------+------+------+----------+
|  James|     M| 60000|      MALE|
|Michael|     M| 70000|      MALE|
| Robert|  null|400000|          |
|  Maria|     F|500000|    FEMALE|
|    Jen|      |  null|          |
+-------+------+------+----------+

In [161]:
data = [('Rohit','Baghel'),('Rajesh','Bariya')]

In [ ]:
df4 = spark.createDataFrame(data).toDF('Name','Surname')

In [163]:
df4.show()

+------+-------+
|  Name|Surname|
+------+-------+
| Rohit| Baghel|
|Rajesh| Bariya|
+------+-------+

In [165]:
df4.withColumn('Name',expr("Name||' '||Surname")).show()

+-------------+-------+
|         Name|Surname|
+-------------+-------+
| Rohit Baghel| Baghel|
|Rajesh Bariya| Bariya|
+-------------+-------+

In [167]:
data=[("2019-01-23",1),("2019-06-24",2),("2019-09-20",3)] 
df5=spark.createDataFrame(data).toDF("date","increment")

In [168]:
df5.show()

+----------+---------+
|      date|increment|
+----------+---------+
|2019-01-23|        1|
|2019-06-24|        2|
|2019-09-20|        3|
+----------+---------+

In [170]:
df5.select(df5.date,df5.increment, expr("add_months(date,increment)").alias('inc_date')).show()

+----------+---------+----------+
|      date|increment|  inc_date|
+----------+---------+----------+
|2019-01-23|        1|2019-02-23|
|2019-06-24|        2|2019-08-24|
|2019-09-20|        3|2019-12-20|
+----------+---------+----------+

In [171]:
df5.show()

+----------+---------+
|      date|increment|
+----------+---------+
|2019-01-23|        1|
|2019-06-24|        2|
|2019-09-20|        3|
+----------+---------+

In [172]:
df6 = spark.read.option('header',True).csv('/content/data.csv')

In [173]:
df6.show()

+--------+-----+--------+--------+
|Duration|Pulse|Maxpulse|Calories|
+--------+-----+--------+--------+
|      60|  110|     130|   409.1|
|      60|  117|     145|   479.0|
|      60|  103|     135|   340.0|
|      45|  109|     175|   282.4|
|      45|  117|     148|   406.0|
|      60|  102|     127|   300.0|
|      60|  110|     136|   374.0|
|      45|  104|     134|   253.3|
|      30|  109|     133|   195.1|
|      60|   98|     124|   269.0|
|      60|  103|     147|   329.3|
|      60|  100|     120|   250.7|
|      60|  106|     128|   345.3|
|      60|  104|     132|   379.3|
|      60|   98|     123|   275.0|
|      60|   98|     120|   215.2|
|      60|  100|     120|   300.0|
|      45|   90|     112|    null|
|      60|  103|     123|   323.0|
|      45|   97|     125|   243.0|
+--------+-----+--------+--------+
only showing top 20 rows